
.table {
   border-collapse: collapse;
   width: 100%;
   font-family: Arial, sans-serif;
   font-size: 15px;
   margin-bottom: 20px;
   border: 3px solid #000000;
}
 
   .table tr {
      border: 3px solid #000000;
      border-bottom: 3px solid #000000;
   }

   .table td {
      padding: 12px;
      text-align: left;
      vertical-align: top;
      border-bottom: 1px solid #000000;
      border: 2px solid #000000;
   }

   .table th {
      border: 3px solid #000000;
      border-bottom: 3px solid #000000;
      font-size: 18px;
      font-weight: bold;
      background-color: #a0a0a0;
      color: #333;
   }
 
   .table tr:nth-child(even) {
      background-color: #e2e1e1c4;
      
   }
 
   .table tbody tr:hover {
      background-color: #e5e5e5;
      cursor: text;
   }
 